* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media only screen and (min-width: 360px) {
  .BgPrincipal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
    text-align: center;
  }
  .BgPrincipal .imgPrincipal {
    background-image: url(img/principal.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-left: -170px;
  }
  .BgPrincipal .imgPrincipal h3 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    margin-left: 80px;
    font-weight: bolder;
    margin-top: 400px;
    font-family: "Raleway", sans-serif;
  }
  .BgPrincipal .imgPrincipal h1 {
    text-align: center;
    color: white;
    font-size: 85px;
    font-weight: bold;
    margin-left: 165px;
    font-family: "Parisienne", cursive;
    margin-top: -10px;
    margin-bottom: -15px;
  }
  .BgPrincipal .imgPrincipal h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    margin-left: 210px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.2cm;
  }

  .ContadorDias {
    display: flex;
    flex-direction: column;
    background-color: rosybrown;
    height: 15vh;
    width: 100%;
    justify-content: center;
  }
  .ContadorDias h3 {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .CeremoniaFiesta {
    background-color: rosybrown;
    height: 60vh;
    width: 100%;
    text-align: center;
  }
  .CeremoniaFiesta img {
    height: 70px;
    width: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .CeremoniaFiesta h3 {
    color: white;
  }
  .CeremoniaFiesta p {
    color: white;
  }
  .CeremoniaFiesta .w3-button {
    border-radius: 2em;
    background-color: rosybrown;
    width: 250px;
    text-transform: uppercase;
    color: white;
  }

  .container {
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
    /*Lighbox CSS*/
  }
  .container .text-center {
    text-align: center;
    margin-bottom: 1em;
  }
  .container .lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .lightbox-gallery div > img {
    max-width: 100%;
    display: block;
    border-radius: 1em;
  }
  .container .lightbox-gallery div {
    margin: 10px;
    flex-basis: 180px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
  .container .lightbox-gallery {
    flex-direction: column;
    align-items: center;
  }
  .container .lightbox > div {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 360px) {
  .container .lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 360px) {
  .container .lightbox img {
    display: block;
    margin: auto;
    border-radius: 1em;
  }
}
@media only screen and (min-width: 360px) {
  .container .lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    color: #eee;
  }
}
@media only screen and (min-width: 360px) {
  .container .github-link {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
  }
}
@media only screen and (min-width: 360px) {
  .container .github-link:hover,
.container .github-link:active,
.container .github-link:visited {
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 360px) {
  .Regalo {
    background-color: rosybrown;
    height: 60vh;
    width: 100%;
    text-align: center;
  }
  .Regalo img {
    height: 70px;
    width: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .Regalo h4 {
    color: white;
    margin-top: 5px;
  }
  .Regalo .datosBancarios {
    width: 340px;
    height: 220px;
    border: white 2px solid;
    border-radius: 1em;
    background-color: rosybrown;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
  }
  .Regalo .datosBancarios h2 {
    margin-top: 8px;
    color: white;
  }
  .Regalo .datosBancarios h2 span {
    font-weight: bolder;
  }
}
@media only screen and (min-width: 360px) {
  .ConfirmarAsistencia {
    height: 40vh;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .ConfirmarAsistencia h3 {
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .ConfirmarAsistencia p {
    color: black;
    margin-bottom: 25px;
  }
  .ConfirmarAsistencia .w3-button {
    border-radius: 2em;
    background-color: rosybrown;
    width: 220px;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 360px) {
  .DressCode {
    height: 30vh;
    width: 100%;
    color: black;
    text-align: center;
    justify-content: center;
    background-color: cadetblue;
  }
  .DressCode img {
    height: 70px;
    width: 70px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .DressCode h3 {
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.1cm;
    margin-bottom: 10px;
  }
  .DressCode p {
    color: white;
  }
}
@media only screen and (min-width: 360px) {
  .Instagram {
    height: 50vh;
    width: 100%;
    color: black;
    text-align: center;
    justify-content: center;
    background-image: url(img/party.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .Instagram img {
    height: 70px;
    width: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .Instagram h2 {
    color: gold;
    font-weight: bolder;
  }
  .Instagram p {
    color: white;
    margin-bottom: 15px;
  }
  .Instagram .w3-button {
    border-radius: 2em;
    background-color: rosybrown;
    width: 250px;
    text-transform: uppercase;
    color: white;
  }
}
@media only screen and (min-width: 768px) {
  .BgPrincipal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
    text-align: center;
  }
  .BgPrincipal .imgPrincipal {
    background-image: url(img/principal.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-left: -170px;
  }
  .BgPrincipal .imgPrincipal h3 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 400px;
    font-family: "Raleway", sans-serif;
  }
  .BgPrincipal .imgPrincipal h1 {
    text-align: center;
    color: white;
    font-size: 85px;
    font-weight: bold;
    margin-left: 165px;
    font-family: "Parisienne", cursive;
    margin-top: -10px;
    margin-bottom: -15px;
  }
  .BgPrincipal .imgPrincipal h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    margin-left: 210px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.2cm;
  }

  .ContadorDias {
    display: flex;
    flex-direction: column;
    background-color: rosybrown;
    height: 15vh;
    width: 100%;
    justify-content: center;
  }
  .ContadorDias h3 {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .CeremoniaFiesta {
    background-color: rosybrown;
    height: 60vh;
    width: 100%;
    text-align: center;
  }
  .CeremoniaFiesta img {
    height: 70px;
    width: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .CeremoniaFiesta h3 {
    color: white;
  }
  .CeremoniaFiesta p {
    color: white;
  }
  .CeremoniaFiesta .w3-button {
    border-radius: 2em;
    background-color: rosybrown;
    width: 250px;
    text-transform: uppercase;
    color: white;
  }

  .container {
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
    /*Lighbox CSS*/
  }
  .container .text-center {
    text-align: center;
    margin-bottom: 1em;
  }
  .container .lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .lightbox-gallery div > img {
    max-width: 100%;
    display: block;
  }
  .container .lightbox-gallery div {
    margin: 10px;
    flex-basis: 180px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 480px) {
  .container .lightbox-gallery {
    flex-direction: column;
    align-items: center;
  }
  .container .lightbox > div {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .container .lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 768px) {
  .container .lightbox img {
    display: block;
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  .container .lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    color: #eee;
  }
}
@media only screen and (min-width: 768px) {
  .container .github-link {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
  }
}
@media only screen and (min-width: 768px) {
  .container .github-link:hover,
.container .github-link:active,
.container .github-link:visited {
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 768px) {
  .Regalo {
    background-color: rosybrown;
    height: 60vh;
    width: 100%;
    text-align: center;
  }
  .Regalo img {
    height: 70px;
    width: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .Regalo h4 {
    color: white;
    margin-top: 5px;
  }
  .Regalo .datosBancarios {
    width: 500px;
    height: 250px;
    border: white 2px solid;
    border-radius: 1em;
    background-color: rosybrown;
    margin-top: 15px;
    margin-left: 150px;
    text-align: center;
    justify-content: center;
  }
  .Regalo .datosBancarios h2 {
    margin-top: 8px;
    color: white;
  }
  .Regalo .datosBancarios h2 span {
    font-weight: bolder;
  }
}
@media only screen and (min-width: 768px) {
  .ConfirmarAsistencia {
    height: 40vh;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .ConfirmarAsistencia h3 {
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .ConfirmarAsistencia p {
    color: black;
    margin-bottom: 25px;
  }
  .ConfirmarAsistencia .w3-button {
    border-radius: 2em;
    background-color: rosybrown;
    width: 220px;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 768px) {
  .DressCode {
    height: 20vh;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: cadetblue;
  }
  .DressCode h3 {
    text-transform: uppercase;
    color: white;
  }
  .DressCode p {
    color: white;
  }
}
@media only screen and (min-width: 768px) {
  .Instagram {
    height: 50vh;
    width: 100%;
    color: black;
    text-align: center;
    justify-content: center;
    background-image: url(img/party.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .Instagram img {
    height: 70px;
    width: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .Instagram h2 {
    color: gold;
    font-weight: bolder;
  }
  .Instagram p {
    color: white;
    margin-bottom: 15px;
  }
  .Instagram .w3-button {
    border-radius: 2em;
    background-color: rosybrown;
    width: 250px;
    text-transform: uppercase;
    color: white;
  }
}/*# sourceMappingURL=styles.css.map */